html {
  height: 100%;
  font-size: 14px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  font-weight: 400;
  color: rgba(41, 50, 65, 0.8);
  padding: 0;
  margin: 0;
  min-height: 100%;
  background-color: #F2F4F6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.blocked-scroll {
  overflow: auto;
}